.form-input{
margin-bottom: 1rem;
}
.input{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 4px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FFF;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 4px;
}

.estiloForm{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
}

.boton{
    cursor: pointer;
    color: #FFF;
    background-color: #646e6d;
    border-color: #646e6d;
    text-align: center;
    border: 2px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 7px;
}

.btn:hover {
    color: #FFF;
    background-color: #000000;
    border-color: #000000;
}


h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4c4f52;
}

.input{
    width: 40%;
}
thead {
    color: #FFF;
    background-color: #474d4d;
  }

  table {
    border: 1px solid black;
    background-color: white;
  }

  tr,
  th {
    width: 25%;
    text-align: left;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    vertical-align: inherit;
  }

  table.col {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }

  tbody {
    font-size: 14px;
    text-align: center;
  }

